<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="JUnit Launch Fixer"
            class="com.joeygibson.eclipse.junitlaunchfixer.preferences.JUnitLaunchFixerPreferencePage"
            id="com.joeygibson.eclipse.junitlaunchfixer.preferences.JUnitLaunchFixerPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.joeygibson.eclipse.junitlaunchfixer.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ui.startup">
   		<startup class="com.joeygibson.eclipse.junitlaunchfixer.Startup"/>
   </extension>
</plugin>
